html,
body{
    margin: 0;
}

body{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1, h2, p{
    margin: 0;
}

h1{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.3em;
}

h2{
    font-size: 1.2em;
}
header > h2{
    font-size: 0.75rem;
}

.balance{
    font-size: 2rem;
}

header{
    margin-bottom: 1em;
}

.container{
    width: 40%;
    margin: 30px auto;
    height: auto;
    min-height: 600px;
}

.income-expense{
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    box-shadow: 1px 1px 3px 0 #999, -1px 1px 3px 0 #999;
}

hr{
    border: 1px solid #dedede;
}

.income,
.expense{
    padding: 0.5em 1em;
}


.show-income{
    color: #50a91c;
}

.show-expense{
    color: #d87d52;
}


.align-left{
    text-align: left;
    margin-bottom: 5em;
}

li{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
ul{
    padding: 0;
}

.list-item-div{
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 #999, -1px 1px 1px 0 #999;
    padding: 0.5em;
    margin-bottom: 10px;
}

input{
    display: block;
    box-sizing: border-box;
}

.description,
.amount{
        padding: 0.5em;
            width: 100%;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin: 1em 0;
}

legend{
    display: contents;
}

input[type = 'radio'],
.radio-option label{
cursor: pointer;
}

.radio-option{
    display: flex;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}
.submit-btn{
    width: 100%;
    color: white;
    border: none;
    background-color: #4887ee;
    padding: 0.75em;
    font-size: 1rem;
}

.red-border{
    border-right: 5px solid red;
}
.green-border{
        border-right: 5px solid green;
}

@media(max-width: 480px){
     .income-expense p {
        font-size: 0.25rem;
     }
     
    .income,
    .expense{
        padding: 0.5em 1em;
    }

}
